.progress-title, .other-skills li {
  letter-spacing: .7px;
  font-weight: 600;
  color: #777777;
}

.progress {
  background-color: #dddddd;
  margin-bottom: 1rem;
  border-radius: .25rem;
  display: flex;
  overflow: hidden;
}

.progress-bar {
  background-color: #f5ae23;
  color: #066684;
}

.other-skills {
  padding-left: 0;
  text-align: center;
}

.other-skills li {
  display: inline-block;
}
